<mat-card class="questionBox">
  <mat-card-header class="question">
    <mat-card-title [innerHTML]="question?.question"></mat-card-title>
    <mat-card-subtitle>Category: {{question?.category}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="options">
      <div
        class="option"
        *ngFor="let a of question?.answers"
        [class.selected]="a === selectedAnswer"
        [class.correct]="showCorrectAnswer && a === question?.correct_answer"
        [innerHTML]="a"
        (click)="selectAnswer(a)"
      >
      </div>
    </div>
  </mat-card-content>
</mat-card>
