.questionBox{
  background: linear-gradient(0deg, rgba(0,12,48,0.3981967787114846) 0%, rgba(91,166,255,0.39539565826330536) 100%);
  border-radius: 10px;

  .question {
    display: flex;
    justify-content: center;
  }

  .options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 15px;
    padding: 25px 10px;


    .option {
      min-width: 300px;
      font-size: 20px;
      line-height: 26px;
      padding: 5px 25px;
      text-align: center;
      border: 2px solid #C0C0C0;
      border-radius: 18px;
      cursor: pointer;
      color: white;
      background: linear-gradient(0deg, rgba(0,12,48,1) 0%, rgba(91,166,255,1) 100%);
      box-sizing: border-box;

      &:hover {
        border: 2px solid white;
      }

      &.selected {
        background: linear-gradient(0deg, rgba(193,158,0,1) 0%, rgba(255,209,0,1) 100%);
        border-color: white;
      }

      &.correct {
        background: linear-gradient(0deg, rgba(0,121,20,1) 0%, rgba(0,205,10,1) 100%);
        border-color: rgba(0,121,20,1);
      }
    }
  }
}
