<div class="container">
  <h2>Test your knowledge</h2>
  <div class="cards">
    <app-quiz-question
      class="card"
      *ngFor="let q of questions, let index = index"
      [question]="q"
      [showCorrectAnswer]="isGameEnded"
      (selectedAnswerChange)="questionAnswered($event, index)"
    >
    </app-quiz-question>
  </div>
  <div
    class="result"
    *ngIf="isGameEnded"
  >
    Result: {{result | percent}}
  </div>
</div>

