.container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(circle, rgba(251,251,251,1) 0%, rgba(195,221,252,1) 100%);

  h2 {
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
  }

  .cards {
    padding: 40px 0;

    .card {
      margin: 20px;
    }
  }

  .result {
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    color: white;
    padding: 50px 500px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(91,166,255,0.4) 0%, rgba(0,12,48,1) 100%);
  }
}
